/* ---- fonts ---- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles or utilities */
body{
    font-family: 'Poppins', sans-serif;
}

/* ---- header style ---- */
.header {
    width: 100%;
    height: 677px;
    background: #2d25a0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__container {
    width: 1170px;
    height: 537px;
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.header-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 100px;
}
  
.header-left__text h1 {
    color: white;
    font-size: 65px;
    font-weight: bold;
    animation: textAnimation 5s ease 0s 1 normal forwards;
}
.header-left__button {
    margin-top: 10px;
}
.header-left__button button {
    background: #e02c6d;
    width: 168px;
    height: 44px;
    color: white;
    text-align: center;
    transition: transform 0.5s ease;
}
.header-left__button:hover {
    transform: scale(1.26);
}
  
.fa-arrow-right.btn_right {
    margin-left: 12px;
}
.header-right {
    position: relative;
}
.header-right__image {
    position: absolute;
}
.header-right__image > img {
    width: 100%;
    height: 100%;
    animation: imageAnimation 8s ease 0s 1 normal forwards;
}

/* ---- main style ----  */

.container-2{
    margin-top: 70px;
    margin-left: 180px;
    margin-right: 200px;
}
h2{
    color: #18191F;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 18px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 40px;
    grid-column-gap: 50px;
}
.player{
    display: flex;
    background-color: #FFFFFF;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border: 1px solid white;
    padding: 20px 20px 20px 20px;

}
.players .player img{
    width: 100%;
}
.player p{
    color: #6C6C6C;
    font-size: 18px;
    text-align: justify;
    margin-top: 0%;
}

/* ---- extra section style ----  */
.extra-section{
    background-color: rgb(241, 241, 234);
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.extra-text{
    color: white;
    padding-right: 0px;
    padding-bottom: 0;
}
.extra-span{
    color: rgb(235, 119, 12);
}
.extra-button{
    border: 0 solid white;
    font-weight: bolder;
    background-color: tomato;
    background-image: linear-gradient(rgb(233, 111, 89), rgb(236, 130, 43));
    color: white;
    border-radius: 15%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
}
.extra-image{
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 0;
}
.resize{
    width: 400px;
    height: auto;
    border-radius: 10%;
}


/* ---- footer style ---- */

.footer-style{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;

}
.footer-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-img > img{
    display: inline-block;
    width: 480px;
    height: 130px;
}
.footer-icon {
    margin-bottom: 20px;
  }
.footer-icon{
  border-radius: 50%;
  padding: 7px;
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 2px;
  transition: transform 0.7s ease;
}
.icon-size{
    width: 35px;
    height: 20px;
}
.footer-text p{
    font-size: 20px;
}
.footer-icon:hover {
    transform: scale(1.26);
}